name: 'Tests'
on: [ push ]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v1
                with:
                    fetch-depth: 1

            -   uses: actions/setup-node@v2
                with:
                    node-version: '16'

            -   run: npm install
            -   run: npm run test
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v1
                with:
                    fetch-depth: 1

            -   uses: actions/setup-node@v2
                with:
                    node-version: '16'

            -   run: npm install
            -   run: npm run build
